@use '../../../styles/global/' as global;

.section{
    padding: 4.1rem 0;

    @include global.media-up(md){
        padding: 6.5rem 0;
    }
}

.grayBackground{
    background-color: global.$gray3;
}