@use '../../../styles/global/' as global;

.header{
    background-color: global.$white;
    box-shadow: 0px 4px 70px rgba(30, 40, 52, 0.08);
    min-height: 8.4rem;
    display: flex;
    align-items: center;

    &__mainNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}