@use '../../../styles/global/' as global;

.pageTitle{
    padding: 3.7rem 0;
    
    @include global.media-up('sm'){
        padding: 8rem 0;
    }

    &__title{
        font-style: normal;
        font-weight: 900;
        font-size: 2.8rem;
        line-height: 120%;
        letter-spacing: -0.08rem;
        background: linear-gradient(97.1deg, #C41740 4.8%, #EA9C28 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin: 0 0 1.4rem 0;

        @include global.media-up('sm'){
            font-style: normal;
            font-weight: 900;
            font-size: 4.6rem;
            letter-spacing: -0.13rem;
            margin: 0 0 1.7rem 0;
        }
    }

    &__description{
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: global.$gray2;
        text-align: center;

        @include global.media-up('sm'){
            font-style: normal;
            font-size: 2.4rem;
        }
    }
}